<h3>Cluster Connections</h3>
@if (connections && connections.length > 0) {
    @if (connections.length == 1 || multiEditing) {
        <h2>Edges</h2>
        <span>
            <mat-slider #sliderEdges discrete min="0" max="1" step="0.01">
                <input matSliderThumb [(value)]="edgeCount" (valueChange)="onChange()">
            </mat-slider>
            <span class="label">{{edgeCount}}</span>
        </span>
        
        <h2 class="vertical-item">Nodes from {{sourceName | clusterid}}</h2>
        <span>
            <mat-slider discrete min="0" max="1" step="0.01">
                <input matSliderThumb [(value)]="nodeCountSource" (valueChange)="onChange()">
            </mat-slider>
            <span class="label">{{nodeCountSource}}</span>
        </span>
    
        <h2 class="vertical-item">Nodes from {{targetsName | clusterid}}</h2>
        <span>
            <mat-slider discrete min="0" max="1" step="0.01">
                <input matSliderThumb [(value)]="nodeCountTarget" (valueChange)="onChange()">
            </mat-slider>
            <span class="label">{{nodeCountTarget}}</span>
        </span>
    
        <h2 class="vertical-item">Degree Assortativity</h2>
        <span>
            -1
            <mat-slider discrete min="-1" max="1" step="0.01">
                <input matSliderThumb [(value)]="degreeAssortativity" (valueChange)="onChange()">
            </mat-slider>
            1
        </span>
        
        <mat-slide-toggle [checked]="degreeDistributionTarget != undefined" (change)="onChangeDistributionSource($event.checked)">
            Custom degree distribution for nodes from {{sourceName | clusterid}}
        </mat-slide-toggle>
        @if (degreeDistributionSource != undefined) {
            <app-vis-line-chart yLabel="Node frequency" [(series)]="degreeDistributionSource" [series2]="actualDistributionSource" (seriesChange)="onChange()"></app-vis-line-chart>
        }
        <mat-slide-toggle [checked]="degreeDistributionSource != undefined" (change)="onChangeDistributionTarget($event.checked)">
            Custom degree distribution for nodes from {{targetsName | clusterid}}
        </mat-slide-toggle>
        @if (degreeDistributionTarget != undefined) {
            <app-vis-line-chart yLabel="Node frequency" [(series)]="degreeDistributionTarget" [series2]="actualDistributionTarget" (seriesChange)="onChange()"></app-vis-line-chart>
        }
    } @else {
        <p>The selected connections are inconsistent. You can reset them for multi-editing.</p>
        <button mat-button (click)="onReset()">Reset</button>
    }
} @else {
    <!-- Nothing -->
}