@if (connections && connections.length > 0) {
    @if (connections.length == 1 || multiEditing) {
        <h4>Edge Count</h4>
        <span>
            <mat-form-field>
                <mat-label>Edges</mat-label>
                <input type="number" matInput [(ngModel)]="edgeCount" min="0" [max]="maxEdgeCount" oninput="this.value = Math.floor(this.value);" (change)="onChange()">
            </mat-form-field>
        </span>
        
        <h4 class="vertical-item">Nodes</h4>
        <span>{{sourceName}}</span>
        <span>
            <mat-slider discrete min="0" max="100">
                <input matSliderThumb [(value)]="nodeCountSource" (valueChange)="onChange()">
            </mat-slider>

            <mat-form-field class="left-margin">
                <mat-label>Nodes percent</mat-label>
                <input type="number" matInput [(ngModel)]="nodeCountSource" min="0" max="100" (change)="onChange()">
            </mat-form-field>
        </span>
    
        <h4 class="vertical-item">Nodes</h4>
        <span>{{targetName}}</span>
        <span>
            <mat-slider discrete min="0" max="100">
                <input matSliderThumb [(value)]="nodeCountTarget" (valueChange)="onChange()">
            </mat-slider>
            <mat-form-field class="left-margin">
                <mat-label>Nodes percent</mat-label>
                <input type="number" matInput [(ngModel)]="nodeCountTarget" min="0" max="100" (change)="onChange()">
            </mat-form-field>
        </span>
    
        <h4 class="vertical-item">Degree Assortativity</h4>
        <span>
            -1
            <mat-slider discrete min="-1" max="1" step="0.01">
                <input matSliderThumb [(value)]="degreeAssortativity" (valueChange)="onChange()">
            </mat-slider>
            1
        </span>
        <br>
        <mat-slide-toggle [checked]="degreeDistributionSource != undefined" (change)="onChangeDistributionSource($event.checked)">
            Custom degree distribution for nodes from {{sourceName}}
        </mat-slide-toggle>
        @if (degreeDistributionSource != undefined) {
            <app-vis-line-chart yLabel="Node frequency" [(series)]="degreeDistributionSource" [series2]="actualDistributionSource" [allowAxisScaling]="false" (seriesChange)="onChange()"></app-vis-line-chart>
        }
        <mat-slide-toggle [checked]="degreeDistributionTarget != undefined" (change)="onChangeDistributionTarget($event.checked)">
            Custom degree distribution for nodes from {{targetName}}
        </mat-slide-toggle>
        @if (degreeDistributionTarget != undefined) {
            <app-vis-line-chart yLabel="Node frequency" [(series)]="degreeDistributionTarget" [series2]="actualDistributionTarget" [allowAxisScaling]="false" (seriesChange)="onChange()"></app-vis-line-chart>
        }
    } @else {
        <p>The selected connections are inconsistent. You can reset them for multi-editing.</p>
        <button mat-button (click)="onReset()">Reset</button>
    }
} @else {
    <p class="center-text">Select cluster connections to edit</p>
}