@if (cluster) {
  <mat-form-field>
    <mat-label>Cluster name</mat-label>
    <input matInput placeholder="Enter a name" [(ngModel)]="cluster.name" (change)="onChangeName()">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Graph Generator</mat-label>
    <mat-select [ngModel]="generator.name" (valueChange)="onChangeGenerator($event)" [disabled]="cluster.immutable">
        <mat-option value="CL">Chung-Lu Model</mat-option>
        <mat-option value="CM">Configuration Model</mat-option>
        <mat-option value="MG">Cluster Group</mat-option>
    </mat-select>
  </mat-form-field>
  @if (cluster.generator.name != "MG") {
    <br>
    <mat-form-field>
      <mat-label>Replication</mat-label>
      <input type="number" matInput [(ngModel)]="cluster.replication" value="1" min="1" oninput="this.value = Math.max(1, Math.round(this.value));" (change)="onChange()" [disabled]="cluster.immutable">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Node count</mat-label>
      <input matInput type="number" [value]="theoreticalNodeCount" (change)="onChangeNodeCount($event.target)">
    </mat-form-field>
    <br>
    <mat-slide-toggle [(ngModel)]="generator.extractGiantComponent" (change)="onChange()" [disabled]="cluster.immutable">
      Keep only largest connected component
    </mat-slide-toggle>
    <br><br>
  }
  <p class="label top-margin">Resulting node count: {{clusterMeasures?.nodeCount}}</p>
  <p class="label">Resulting edge count: {{clusterMeasures?.edgeCount}}</p>
  @if (cluster.generator.name == "CL") {
    <app-vis-line-chart [showLegend]="true" [series]="generator.degreeDistribution" [series2]="measuredDistribution" (seriesChange)="onChange()" [editMode]="!cluster.immutable" [allowAxisScaling]="!cluster.immutable" [allowLogToggles]="!cluster.immutable"></app-vis-line-chart>
  } @else if (cluster.generator.name == "CM") {
    <app-vis-line-chart [showLegend]="true" [series]="generator.degreeDistribution" [series2]="measuredDistribution" (seriesChange)="onChange()" [editMode]="!cluster.immutable" [allowAxisScaling]="!cluster.immutable" [allowLogToggles]="!cluster.immutable"></app-vis-line-chart>
  } @else if (cluster.generator.name == "MG") {
    <span>Add child clusters in the cluster list</span>
    <br>
  } @else {
    <span>unknown</span>
  }
} @else {
  <p class="center-text">Select a cluster to edit</p>
}