<mat-form-field class="large">
    <mat-label>Diffusion Model</mat-label>
    <mat-select [(value)]="diffusionModel" [disabled]="running">
        <mat-option value="SI">Susceptible Infected</mat-option>
        <mat-option value="LT">Linear Threshold</mat-option>
    </mat-select>
</mat-form-field>
<br />
<span>Activation Probability</span>
<br>
<mat-slider discrete min="0" max="1" step="0.01">
    <input matSliderThumb value="0.5" [(value)]="activationProbability" [disabled]="running">
</mat-slider>
<!-- TODO: Line per community mode => line chart with arbitrary num lines -->
<app-vis-line-chart [showLegend]="true" [legendWidth]="150" legend1="Total active" legend2="In cluster" [series]="totalActive" [seriesList]="clusterActive" xLabel="Timestep" yLabel="Activated Nodes" [allowAxisScaling]="false" [allowLogToggles]="false" [editMode]="false"></app-vis-line-chart>
<mat-form-field class="small">
    <mat-label>Timesteps per Second</mat-label>
    <input matNativeControl type="number" min="1" max="100000" [(ngModel)]="simulationSpeed" [disabled]="running"/>
</mat-form-field>
<br />
<span>
    <button mat-raised-button class="button" [disabled]="running" (click)="onPlay()"><mat-icon>play_arrow</mat-icon></button>
    <button mat-raised-button class="button" [disabled]="!running" (click)="onPause()"><mat-icon>pause</mat-icon></button>
    <button mat-raised-button class="button" [disabled]="running || !dirty" (click)="onReset()"><mat-icon>replay</mat-icon></button>
    <button mat-stroked-button [disabled]="running || dirty || seedNodes.size == 0" (click)="onClear()">Clear Seed Nodes</button>
</span>
<br><br>
<span>Current Timestep: {{step}}</span>
<br />
<span>Total active nodes: {{seedNodes.size}}</span>
@for (c of clusters; track $index) {
    <br>
    <span>{{c[0]}}: {{c[1]}}</span>
}
