<h3>Clusters</h3>
<mat-nav-list role="list">
    <mat-list-item role="listitem" *ngFor="let cluster of clusters" [activated]="selectedCluster === cluster" (click)="onSelectCluster(cluster)">
        <div class="li-container">
            <div class="li-bar" [style.background-color]="getColor(cluster)"></div>
            {{cluster.name}}
            <button mat-icon-button class="li-icon" title="delete hero" (click)="onRemoveCluster($event, cluster)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-list-item>
</mat-nav-list>
<button mat-fab type="button" class="fab" (click)="onAddCluster()">
    <mat-icon>add</mat-icon>
</button>


<!-- Hierarchical -->
<!-- Tree with manual inner nodes (+) -->
<!-- Could also enable generator to create cluster root nodes, but thenn cannot link them individually -->
<!-- Solutions: Disallow linking, Convert generated cluster to manual nodes, allow linking and let stuff break when changing generator settings -->
<!-- Create connections on different levels -->
<!-- Scroll through layers to get/set connections -->