<!-- <h3>Clusters</h3>
<mat-nav-list role="list">
    <mat-list-item role="listitem" *ngFor="let cluster of clusters" [activated]="selectedCluster === cluster" (click)="onSelectCluster(cluster)">
        <div class="li-container">
            <div class="li-bar" [style.background-color]="getColor(cluster)"></div>
            {{cluster.name}}
            <button mat-icon-button class="li-icon" title="delete hero" (click)="onRemoveCluster($event, cluster)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-list-item>
</mat-nav-list> -->

<!-- Maybe consider creating a new component as a template for the (bar, name, plus, trash) list item -->
 <!-- Or maybe don't -->

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree">
    <!-- This is the tree node template for leaf nodes -->
    <!-- There is inline padding applied to this node using styles.
      This padding value depends on the mat-icon-button width. -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle (click)="onSelectCluster(node)" [class.activated]="node === selectedCluster">
        <div class="li-bar" [style.background-color]="getColor(node)"></div>
        {{node.name}}
        <button mat-icon-button class="li-icon" title="Add child cluster" (click)="onAddCluster($event, node)">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button class="li-icon-end" title="Delete cluster" (click)="onRemoveCluster($event, node)">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" (click)="onSelectCluster(node)">
        <div class="mat-tree-node" [class.activated]="node === selectedCluster">
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Expand ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
            </button>
            <div class="li-bar" [style.background-color]="getColor(node)"></div>
            {{node.name}}
            <button mat-icon-button class="li-icon" title="Add child cluster" (click)="onAddCluster($event, node)">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button class="li-icon-end" title="Delete cluster" (click)="onRemoveCluster($event, node)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        <!-- There is inline padding applied to this div using styles.
            This padding value depends on the mat-icon-button width.  -->
        <div [class.tree-invisible]="!treeControl.isExpanded(node)" role="group">
            <ng-container matTreeNodeOutlet></ng-container>
        </div>
    </mat-nested-tree-node>
</mat-tree>


<button mat-fab type="button" class="fab" (click)="onAddCluster($event)">
    <mat-icon>add</mat-icon>
</button>


<!-- Hierarchical -->
<!-- Tree with manual inner nodes (+) -->
<!-- Could also enable generator to create cluster root nodes, but thenn cannot link them individually -->
<!-- Solutions: Disallow linking, Convert generated cluster to manual nodes, allow linking and let stuff break when changing generator settings -->
<!-- Create connections on different levels -->
<!-- Scroll through layers to get/set connections -->

<!-- Morph into cluster tree -->

<!--// ALSO: CIRCLE PACKING for hierarchical clusters
    // => Hierarchical edge bundles: Vis of Adj Relations in Hierarch Data - Danny Holten
    // An Experimental Evaluation of Viewpoint-Based 3D Graph Drawing Wageningen 2024
    // => Evaluationsmethode, Begründung -->

<!--
    
- tree list
- rendering as tree visualization
- circle packing

- zoom levels (matrix, minimap, node-link) 

-->