.buttons {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.button {
    min-width: 40px;
    width: 40px;;
    padding-left: 16px;
    padding-right: 0px;
}

.label {
    margin-left: 1em;
    margin-right: 1em;
}