<div style="flex: 0; margin: 10px 10px 0px 10px; display: flex; align-items: center;">
    <mat-form-field style="margin: 5px auto 0 0;" subscriptSizing="dynamic">
        <mat-label>Visualization</mat-label>
        <mat-select #selectVis [(value)]="this.visualization">
            <mat-option value="matrix">Adjacency Matrix</mat-option>
            <mat-option value="node-link">Node-Link Diagram</mat-option>
        </mat-select>
    </mat-form-field>
    <app-vis-level #visLevel style="align-self: right;" [allowNodeLevel]="visualization == 'node-link'" (levelChange)="changeLevel($event)"></app-vis-level>
</div>
<br>
<div class="fit-height" (wheel)="visLevel.onChange($event)">
    @if (visualization == "matrix") {
        <app-vis-matrix #matrix style="height: 100%;" [level]="level"></app-vis-matrix>
    } @else if (visualization == "node-link") {
        @if (nl1) {
            <app-vis-node-link #nodeLink class="absolute" [class.fade-in]="!combineClusters" [class.fade-out]="combineClusters" [combineClusters]="combineClusters"></app-vis-node-link>
        }
        @if (nl2) {
            <app-vis-node-link-2 #nodeLink2 class="absolute"></app-vis-node-link-2>
        }
    }
</div>
