<div [class.hide]="python.pyodide != undefined" class="overlay">
  <h3 class="center">Loading Pyodide...</h3>
</div>
<div id="container">
  <as-split #vertical unit="percent" direction="horizontal" (dragStart)="onDragStart()" (dragEnd)="onDragEnd()" restrictMove="true">
    <as-split-area size="20">
      <div class="padded">
        <h3>Cluster Connections</h3>
        <app-tab-cluster-list />
      </div>
    </as-split-area>
    <as-split-area size="50">
      <app-vis-node-link #nodeLinkDiagram></app-vis-node-link>
      <!-- <div class="settings-container"> -->
        <!-- Settings panel -->
        <!-- Node link diagram -->
      <!-- </div> -->
    </as-split-area>
    <as-split-area size="*" class="noscroll">
      <mat-tab-group class="scroll" (selectedTabChange)="onSelectedTabChange()" [(selectedIndex)]="selectedTabIndex">
        <mat-tab label="Cluster Properties">
          <div class="padded">
            <app-tab-cluster />
          </div>
        </mat-tab>
        <mat-tab label="Cluster Connections">
          <div class="padded">
            <app-tab-connections />
          </div>
        </mat-tab>
        <mat-tab label="Graph Measures">
          
        </mat-tab>
        <mat-tab label="Diffusion Models">
          
        </mat-tab>
        <mat-tab label="Import/Export">
          <div class="padded">
            <app-tab-import-export />
          </div>
        </mat-tab>
      </mat-tab-group>
    </as-split-area>
  </as-split>
</div>