<div [class.hide]="pyodideReady" class="overlay">
  <h3 class="center">Loading Pyodide...</h3>
</div>
<div id="container">
  <as-split #vertical unit="percent" direction="horizontal" (dragStart)="dragging[0] = true" (dragEnd)="dragging[0] = false" restrictMove="true">
    <as-split-area size="20">
      <as-split unit="percent" direction="vertical" restrictMove="true" (dragStart)="dragging[1] = true" (dragStop)="dragging[1] = false">
        <as-split-area size="50">
          <div class="padded flex-parent" style="height: calc(100% - 20px);">
            <app-vis-level style="flex: 0;"/>
            <app-vis-container #containerSecondary class="flex-parent" style="flex: 1;"/>
          </div>
        </as-split-area>
        <as-split-area size="50">
          <div class="padded">
            <app-tab-cluster-list />
          </div>
        </as-split-area>
      </as-split>
    </as-split-area>
    <as-split-area size="50">
      <app-vis-container #containerPrimary class="flex-parent"></app-vis-container>
    </as-split-area>
    <as-split-area size="*" class="noscroll">
      <mat-tab-group class="scroll" (selectedTabChange)="onSelectedTabChange()" [(selectedIndex)]="selectedTabIndex">
        <mat-tab label="Cluster Properties">
          <div class="padded">
            <app-tab-cluster />
          </div>
        </mat-tab>
        <mat-tab label="Cluster Connections">
          <div class="padded">
            <app-tab-connections />
          </div>
        </mat-tab>
        <mat-tab label="Graph Measures">
          <div class="padded">
            <app-tab-statistics />
          </div>
        </mat-tab>
        <mat-tab label="Diagram Settings">
          <div class="padded">
            <app-tab-nl-settings />
          </div>
        </mat-tab>
        <mat-tab label="Diffusion Models">
          <div class="padded">
            <app-tab-information-diffusion />
          </div>
        </mat-tab>
        <mat-tab label="Import/Export">
          <div class="padded">
            <app-tab-import-export />
          </div>
        </mat-tab>
      </mat-tab-group>
    </as-split-area>
  </as-split>
</div>