#container {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.settings-container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    width: 100%;
    height: inherit;
}

.settings {
    position: absolute;
    bottom: 0;
    left: 0;
}

.label {
    font-weight: bold;
}

.right-margin {
    margin-right: 10px;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
     /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    display: flex;
    flex-direction: column;
    text-align: center;
}

.center {
    margin: auto;
}

.hide {
    display: none;
}

.scroll {
    overflow-y: auto;
    height: 100%;
}

.noscroll {
    overflow: hidden !important;
}


/* .mat-tab-header {
    z-index: 9999;
    position: sticky;
    top: 0px;
    background-color: white;
} */


.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}