.flexi {
    display: flex;
}

.block {
    display: block;
}

.flex-element {
    margin-right: 1em;
}

.space-vert {
    margin-bottom: 0.5em;
}

.small {
    width: 8em;
}

.hide {
    visibility: collapse;
}

.button-plus {
    min-width: 45px;
    width: 45px;
    padding: 0;
    padding-left: 16px;
}